/* A new stylesheet for a clean and clear asthetic */

/* ================================================================= */
/* ------------------------- bacground fromats --------------------- */
/* ================================================================= */
body.max {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.main-body{
  margin: 10px 50px;
}
/* ================================================================= */
/* ------------------------- z indexes------------------------------ */
/* ================================================================= */
.z-1{
z-index: -1;
transition: all;
transition-timing-function: linear 2s;
}
.z1{
  z-index: 1;
}


/* ================================================================= */
/* ------------------------- general formats - --------------------- */
/* ================================================================= */
.vertCenter {
  padding-top: 50%;
  padding-bottom: 50%;
  text-decoration: dotted;
}

.stickBlock {
  position: sticky;
  top: 40vh;
}

.inline{
  display: inline;
  font-weight:lighter;
}

.noDisplay{
  display: none important;
}

/* ================================================================= */
/* ------------------------- Font formats -------------------------- */
/* ================================================================= */
.basic{
  font-family: Arial, Helvetica, sans-serif;
}
.hand{
  font-family: cursive;
}
/* ================================================================= */
/* ------------------------- Nav-bar ------------------------------- */
/* ================================================================= */
.topBar {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  border: solid black 1px;
}
nav.nav-bar {
  padding: 0;
  margin: 0;
}
.nav-bar ul{
  float: right;
  vertical-align: middle;
  height: 100%;
  width: 75%;
  display: grid;
  row-gap: 0;
  column-gap: 0;
  padding: 0;
  margin: 0;

  color: black;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  grid-row: 1;
}
.nav-bar li a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;

  height: 50px;
  margin: 0;
  display: block;
  background-color: whitesmoke;
  border: 1px solid black;
}
.nav-bar a .link-block
{
  margin-top: 15px;
}
/* Lables */
.nav-lable{
  display:inline-block;
  margin: 0;
  padding-left: 20px;
  height: 100%;
  width: 15%;

  line-height: 100%;
}

.nav-lable a.title-link{
  vertical-align: middle;

  text-decoration: none;
  color: inherit;
}

.nav-lable a.title-link h1
{
    font-size: 20px;
    font-weight: lighter;
}

/* ================================================================= */
/* ------------------------- Headdings ----------------------------- */
/* ================================================================= */
h1.main-h{
  display: block;

  margin-left: 5vw;
  padding-left: 25px;

  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/* ================================================================= */
/* ------------------------- about --------------------------------- */
/* ================================================================= */
/* headding styles */
.about-content h1.main-h{
  border-left: solid 10px orange;
}
.about-content .hand{
  color: 
  orange;
}

.profil-picture
{
  display: block;
  width: 250px;
}