/* A new stylesheet for a clean and clear asthetic */

/* ================================================================= */
/* ------------------------- bacground fromats --------------------- */
/* ================================================================= */
body.max {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
/* ================================================================= */
/* ------------------------- general formats - --------------------- */
/* ================================================================= */
.vertCenter {
  padding-top: 50%;
  padding-bottom: 50%;
  text-decoration: dotted;
}

.stickBlock {
  position: sticky;
  top: 40vh;
}

/* ================================================================= */
/* ------------------------- Font formats -------------------------- */
/* ================================================================= */
.basic{
  font-family: Arial, Helvetica, sans-serif;
}
.hand{
  font-family: cursive;
}
/* ================================================================= */
/* ------------------------- Nav-bar ------------------------------- */
/* ================================================================= */
.topBar {
  position: sticky;
  display: block;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  border: solid black 1px;
}
nav.nav-bar {
  padding: 0;
  margin: 0;
}
.nav-bar ul{
  float: right;
  vertical-align: middle;
  height: 100%;
  width: 60%;
  display: grid;
  row-gap: 0;
  column-gap: 0;
  padding: 0;
  margin: 0;

  color: black;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  grid-row: 1;
}
.nav-bar li a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;

  height: 50px;
  margin: 0;
  display: block;
  background-color: whitesmoke;
  border: 1px solid black;
}
.nav-bar a .link-block
{
  margin-top: 15px;
}
/* Lables */
.nav-lable{
  display:inline-block;
  margin: 0;
  padding-left: 10vw;
  height: 100%;
  width: 20%;

  line-height: 100%;
}

.nav-lable a.title-link{
  vertical-align: middle;

  text-decoration: none;
  color: inherit;
}

