/* A new stylesheet for a clean and clear asthetic */
/* ================================================================= */
/* ------------------------- colors  ------------------------------- */
/* ================================================================= */
.blue {
  color: rgb(0, 136, 255);
}
/* ================================================================= */
/* ------------------------- bacground fromats --------------------- */
/* ================================================================= */
body.max {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.main-body {
  margin: 10px 50px;
}
/* ================================================================= */
/* ------------------------- z indexes------------------------------ */
/* ================================================================= */
.z-1 {
  z-index: -1;
  transition: all;
  transition-timing-function: linear 2s;
}
.z10 {
  z-index: 10;
}

/* ================================================================= */
/* ------------------------- general formats - --------------------- */
/* ================================================================= */
.vertCenter {
  padding-top: 50%;
  padding-bottom: 50%;
}

.stickBlock {
  position: sticky;
  top: 40vh;
}

.inline {
  display: inline;
  font-weight: lighter;
}

.noDisplay {
  display: none important;
}

.section-divider {
  display: block;
  float: left;
  width: 100%;
  height: 10px;
  background-color: aqua;
}
/* hyperlinks */
a.hyperlink
{
  font-weight: bolder;
}
a.hyperlink:hover{
  text-shadow: 0 0 1px;
}
.about-section a{
  color: orange;
}
ul.bullet-list{
  margin-left: 20px;
  display: inline-block;
}

/* ================================================================= */
/* ------------------------- Font formats -------------------------- */
/* ================================================================= */
.basic {
  font-family: Arial, Helvetica, sans-serif;
}
.hand {
  font-family: cursive;
}
/* ================================================================= */
/* ------------------------- inline detials and popups ------------- */
/* ================================================================= */
details.inline-deets {
  display: inline;
}
.inline-deets summary {
  display: inline;
  white-space: nowrap;
}
.inline-deets:hover summary {
  cursor: pointer;
  color: lighter;
  text-shadow: 0 0 1px;
}

/* ================================================================= */
/* ------------------------- Nav-bar ------------------------------- */
/* ================================================================= */
.topBar {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 50px;
  border: solid black 1px;
}
nav.nav-bar {
  padding: 0;
  margin: 0;
}
.nav-bar ul {
  float: right;
  vertical-align: middle;
  height: 100%;
  width: 80%;
  display: grid;
  row-gap: 0;
  column-gap: 0;
  padding: 0;
  margin: 0;

  color: black;
}
.nav-bar li {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  grid-row: 1;
}
.nav-bar li a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;

  height: 50px;
  margin: 0;
  display: block;
  background-color: whitesmoke;
  border: 1px solid black;
}
.nav-bar a .link-block {
  margin-top: 15px;
}
/* Lables */
.nav-lable {
  display: inline-block;
  margin: 0;
  padding-left: 20px;
  height: 100%;
  width: 15%;

  line-height: 100%;
}

.nav-lable a.title-link {
  vertical-align: middle;

  text-decoration: none;
  color: inherit;
}

.nav-lable a.title-link h1 {
  font-size: 20px;
  font-weight: lighter;
}
/* ================================================================= */
/* ------------------------- Grid formats -------------------------- */
/* ================================================================= */
.grid{
  display: grid;
}
.grid_1-1
{
  grid-row: 1;
  grid-column: 1;
}
.grid_1-2
{
  grid-row: 1;
  grid-column: 2;
}

/* ================================================================= */
/* ------------------------- Headdings ----------------------------- */
/* ================================================================= */
.blk {
  color: black;
  font-family: monospace;
  font-weight: lighter;
}
h1.main-h {
  display: block;
  text-align: center;

  margin-left: 5vw;
  padding-left: 25px;

  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1.main-h .blk {
  padding: 0 10px;
  font-size: 40px;
}
h2.main-h {
  font-size: 20px;
}

summary h2.main-h {
  display: inline-block;
}

h2.main-h .blk {
  color: black;
  font-weight: bolder;
  padding: 0;
}

/* ================================================================= */
/* ------------------------- about --------------------------------- */
/* ================================================================= */
.about-color1 {
  color: orange;
}
.about-color2 {
  color: rgb(151, 98, 0);
}
.about-section{
  height: max-content;
}
/* headding styles */
.about-section h1.main-h {
  color: orange;
}
.about-content h2.main-h{
  color: orange;
}
/* details styles */
.about-section .inline-deets summary {
  color: orange;
}

details.about-section {
  border-bottom: solid orange 1px;
}

.about-content {
  display: block;
  text-align: left;
  margin: 20px auto;
  width: 80%;
  height: max-content;
}

.profile-pic-wrapper {
  display: block;
  width: 200px;
  float: left;
  padding: 0;
  margin: 0 20px;
  border-right: 5px solid orange;
}
img.profil-picture {
  width: 75%;
  border: 10px solid orange;
  border-radius: 10px;
}

.about-content .details-list {
  float: left;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
ul.details-list li {
  padding: 5px 0;
}
/* ================================================================= */
/* ------------------------- Games ----------------------------------*/
/* ================================================================= */
.games-color1{
  color: rgb(238, 255, 6);
}
.games-color2{
  color: yellowgreen;
}

/* grid display setup */
.games-section ul.grid-list{
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  text-align: center;
  margin: 0 auto;

  padding: 2%;

  max-width: 750px;
  list-style-type:none;

  outline: 1px solid black;
  box-shadow: inset 0 0 5px black;
  border-radius: 5px;
}
.game-image{
  width: 100%;
  border-radius: 5px;
  z-index: inherit;
}

.games-section ul.grid-list li a{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.label-wrapper{
  display: block;
  position: absolute;
  top:0px;
  left: 0px;

  width: 100%;
  height: 100%;
  border: 5px;
  z-index: inherit;
}
.game-label{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255,0) 0%,
    rgba(0, 0, 0, 0.711) 50%,
    rgba(0, 0, 0, 0.841) 100%
  );
  text-align: center;
  padding-top: 40%;

  color: white;
  z-index: 1;
  }




/* ================================================================= */
/* ------------------------- Blog ---------------------------------- */
/* ================================================================= */
.blog-grid
{
  display: grid;
  max-width: 850px;
  grid-template-columns: 3fr 1.5fr;

  gap: 40px;
  margin: 0 auto;
}
.recent-posts{
  display: block;
  width: 100%;
}
.brecent-posts ul{
  display: block;
  list-style: none;
}
.recent-posts ul li{
  display: block;
  position: relative;
  overflow-y: hidden;
  outline: 1px solid black;
  border-radius: 10px;
  height: 150px;

  margin: 10px 0;
}
.blog-image{
  height: 100%;
  float: left;
  margin-right: 20px;

  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
a.blog-sample{
  text-decoration: none;
  color: black;
}

.blog-summary{
  display: block;
  margin-left: 0;
  margin-right: 0;
  overflow-y: hidden;
}
.read-more-wrapper{
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;

  color: orange;
  padding-top: 30px;
  padding-bottom: 0px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255,0) 0%,
    rgba(80, 80, 80, 0.711) 50%,
    rgb(72, 72, 72) 100%
  );
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.read-more-txt{
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 10px;
}

/* Blog history section */
.blog-history{
  width: 100%;
  height: 100%;
}

.blog-history ul{
  display: block;
  list-style: square;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;;
}

.blog-history ul li{
  display: block;
  margin-left: 0;
  border: 1px solid black;
  border-left: 5px solid black;
  padding: 5px 10px;
  margin: 0;
}

.blog-history h2{
  display: block;
  background-color: aquamarine;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

.blog-h{
  font-weight: normal;
  font-size: 15px;
}

.blog-nav{
  color: inherit;
  text-decoration: none;
}
