/* top bar styling =============================================================== */
nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  border: solid white 5px;
  padding: 10px 5px;
  height: 30px;
  color: antiquewhite;
  background-color: blue;
}
nav.navbar h1 {
  display: block;
  float: left;
  margin: 0 5px;
}
nav.navbar ul {
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
nav.navbar ul li {
  display: inline-block;
  margin: 0 5px;
}
nav.navbar ul a {
  text-decoration: none;
  color: inherit;
  padding: 2px;
}
nav.navbar ul a:hover {
  text-decoration: none;
  color: inherit;
  padding: 2px;
  outline: solid whitesmoke;
}

nav.navbar a.current {
  background-color: white;
  color: rgb(94, 94, 255);
}

/* body styling ================================================================== */
body.blueprint {
  margin: 0;
  background-color: rgb(35, 35, 243);
  height: 100vh;
  color: bisque;
}

/* Pop up summery styling ========================================================= */
details.popout
{
  display: inline;
  transition: ease-in;
  transition: 0.5s;
}
details.popout summary
{
  text-decoration: underline;
  display: inline;
}
details.popout summary:hover 
{
  transition: 1s;
  text-shadow: 0 0 4px cyan;
  cursor: pointer;
}

/* replace  =================================================================== */
.replace .hide{
  color: pink;
  text-decoration: underline;
  display: inline;
}
.replace:hover .hide{
  display: none;
}
.replace .hidden {
  display: none;
}
.replace:hover .hidden
{
  display: inline;
  color:  red;
}
/* Question for me ==================================================================== */
details.popout summary.question
{
  text-decoration: bold;
  color: orange;
  text-align: right;
}