/* ================================================================= */
/* ------------ Basic structure and wrapping ----------------------- */
/* ================================================================= */
.devlog-super-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: row;
  gap: 50px;
}

.devlog-feed {
  display: block;
  float: left;
  height: 100%;
  max-width: 800px;
  padding-top: 100px;

  border-left: 5px dashed black;
}
.time-line {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

ul.devlog-feed-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.devlog-feed-content li.devlog-entry {
  margin-left: 25px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 2px;
  padding: 20px;
  position: relative;
}
ul.devlog-feed-content li.devlog-entry::before {
  content: "";
  display: block;
  background-color: black;
  height: 25px;
  width: 25px;

  position: absolute;
  left: -40px;
  top: 15px;
}
ul.devlog-feed-content li.devlog-entry time.entry-date {
  display: inline;
  width: 100%;
  font-weight: bold;

  font-family: monospace;
}
/* ================================================================= */
/* ------------ Details formatting --------- ----------------------- */
/* ================================================================= */
details.devlog-feed-deets summary {
  display: inline;
  margin: 0;
  padding: 0;
}

details.devlog-feed-deets summary h2.dev-h {
  transition: all 0.5s;
  text-align: center;
  float: none;
  margin-bottom: 10px;
}
details.devlog-feed-deets summary h2.dev-h::before {
  transition: all 0.5s;
}
details.devlog-feed-deets summary h2.dev-h::after {
  transition: all 0.5s;
}

.entry-content {
  padding: 10px;
}

details.devlog-feed-deets summary h2.dev-h:hover {
  cursor: pointer;
}
details.devlog-feed-deets summary h2.dev-h:hover::before {
  color: orange;
  text-shadow: 0 0 2px;
  font-weight: bolder;
  font-size: 25px;
  margin-right: 30px;
  transition: all 1s;
}
details.devlog-feed-deets summary h2.dev-h:hover::after {
  color: orange;
  text-shadow: 0 0 2px;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 30px;
  transition: all 1s;
}
/* ================================================================= */
/* ------------ Side nave fomratting ------------------------------- */
/* ================================================================= */
.devlogpage-index {
  position: sticky;
  position: -webkit-sticky;

  top: 100px;
}
.devlogpage-index .main-h {
  text-align: center;
}
.devlogpage-index.left li {
  border-left: none;
  border-right: 5px solid rgb(47, 177, 203);
  text-align: left;
  padding-left: 20px;
}
/* ================================================================= */
/* ------------ square bracket demo formating ---------------------- */
/* ================================================================= */
.demo-square-bracket-divs {
  display: block;
  width: 100%;

  padding: 20px 30px;
  margin-top: 10px;
  margin-left: 20px;
  border: solid 1px black;
  border-left: 5px solid rgb(47, 177, 203);
  background-color: aliceblue;
  width: max-content;
}
.square-bracket-bad {
  font-weight: bold;
  color: rgb(47, 177, 203);

  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.square-bracket-bad .inner {
  font-weight: normal;
  color: black;
  margin: 0 10px;
}
.square-bracket-good {
  font-weight: normal;
  color: black;
}
.square-bracket-good::before {
  content: "[";
  font-weight: bold;
  color: rgb(47, 177, 203);
  margin-right: 10px;
}
.square-bracket-good::after {
  content: "]";
  font-weight: bold;
  color: rgb(47, 177, 203);
  margin-left: 10px;
}
