/* ================================================================= */
/* ------------ Basic structure and wrapping ----------------------- */
/* ================================================================= */
.devlog-super-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-flow: row;
  gap: 50px;
}

.devlog-feed {
  display: block;
  float: left;
  height: 100%;
  max-width: 800px;

  border-left: 5px dashed black;
}
.time-line {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

ul.devlog-feed-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.devlog-feed-content li.devlog-entry {
  margin-left: 50px;
  padding: 20px;
  position: relative;
  border: 1px solid black;
}
ul.devlog-feed-content li.devlog-entry::before {
  content: "";
  display: block;
  background-color: black;
  height: 25px;
  width: 25px;

  position: absolute;
  left: -65px;
  top: 10px;
}
/* ================================================================= */
/* ------------ Details formatting --------- ----------------------- */
/* ================================================================= */
details.devlog-feed-deets summary {
  display: inline-block;
}
details.devlog-feed-deets summary h2.dev-h {
  transition: all 0.5s;
}
details.devlog-feed-deets summary h2.dev-h .blk {
  transition: all 0.5s;
}

details.devlog-feed-deets summary:hover h2.dev-h {
  color: orange;
  text-shadow: 0 0 2px;
  font-weight: bolder;
  font-size: 25px;
  transition: all 1s;
}
details.devlog-feed-deets summary:hover h2.dev-h .blk {
  text-shadow: none;
  font-size: 20px;
  padding: 0 30px;
  transition: all 1s;
}
