/* ================================================================= */
/* ------------------------- Basic strucutureal fromatting --------- */
/* ================================================================= */
.gamepage-main {
  padding-top: 80px;
}
.gamepage-wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
  column-gap: 3%;
  row-gap: 0;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .gamepage-wrapper {
    margin: 0 50px;
  }
}
@media (max-width: 500px) {
  .gamepage-wrapper {
    display: block;
    width: 80%;
  }
}

.gamepage-wrapper .game-info-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  grid-column: 1;
  grid-row: 1;
}

.gamepage-wrapper .game-download-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  grid-column: 1;
  grid-row: 2;
}
.gamepage-wrapper .game-download-wrapper ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border-left: 7px solid orange;
  box-shadow: 0 0 2px orange;
  background-color: rgb(247, 226, 208);

  text-align: center;
}

@media (max-width: 840px) {
  .gamepage-wrapper .game-download-wrapper ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.gamepage-wrapper .game-download-wrapper.single ul {
  display: block;
}

.gamepage-wrapper .game-credits-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  grid-column: 1;
  grid-row: 3;
}
.gamepage-wrapper .game-images-wrapper {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 2;
}
.gamepage-wrapper .game-images-wrapper img {
  width: 100%;
  display: block;
  margin: 20px auto;

  border: 5px solid orange;
  border-radius: 0;
}

/* ================================================================= */
/* ---------- Game info grid formatting ---------------------------- */
/* ================================================================= */
ul.credits-grid {
  list-style: none;
  max-width: 400px;
  padding: 0;
}

ul.credits-grid li {
  border-left: 5px solid rgb(47, 177, 203);
  border-right: solid 1px black;
  border-top: solid 1px black;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;

  padding: 10px 20px;
  margin: 0;
}

ul.credits-grid li:last-child {
  border-bottom: solid 1px black;
}

/* ================================================================= */
/* ---------- Download section  ------------------------------------ */
/* ================================================================= */

ul.downloads li {
  display: table;
  height: 55px;
}

ul.downloads li a {
  text-decoration: orange underline 2px;
  color: inherit;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;

  display: table-cell;
  vertical-align: middle;

  padding: 0;
  margin: 0;
}

ul.downloads li a::after {
  content: "]";
  font-size: 150%;
  margin-left: 10px;
  transition: all 0.5s;
  text-decoration: none;
}
ul.downloads li a::before {
  content: "[";
  font-size: 150%;
  margin-right: 10px;
  transition: all 0.5s;
  text-decoration: none;
}
ul.downloads li a::after {
  content: "]";
  font-size: 150%;
  margin-left: 10px;
  transition: all 0.5s;
}
ul.downloads li a:hover {
  color: orange;
  text-shadow: 0 0 1px;
  font-weight: bold;
  text-decoration: none;
}
ul.downloads li a:hover:before {
  margin-right: 20px;
  font-weight: 200%;
  font-size: 170%;
  color: orange;
  text-shadow: 0 0 1px;
}
ul.downloads li a:hover::after {
  margin-left: 20px;
  font-weight: 200%;
  font-size: 170%;
  color: orange;
  text-shadow: 0 0 1px;
}
